/* fonts */
/* font-family: 'Satisfy', cursive; 
    font-family: 'Allan', cursive;*/
/* end fonts */
body {
    background-image:  url("/img/backgroundimgonline-com-ua-Piconpic-B0mT5VbvcZXkBVNe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500vh;

}
/* nav bar color */
.bg_lightteal {
    background-color: #098fa4 ;
}
.font_satisfy a {
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    font-size: 24px;
}
/* media a queary to force nav drop down to stay on the left side once drop down poit is hit */
@media (max-width: 991px) {
    .mobile_query {
        justify-content: flex-start !important;
    }
}
/* end of media queary for force nav left drop down */
/* hero image */
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    background-image: url("/img/imgonline-com-ua-Piconpic-pPMtQ7GQammLf\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     /* position: relative; */
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* The flip card  */
.flip-card {
    background-color: transparent;
    width: 100rm;
    height: 120vh;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    /* background-color: #bbb;
    color: black; */
  }
  .flip-card-back {
    transform: rotateY(180deg);
  }

/* footer background */
.bg_orange {
    background-color:  #d38e67;
}
.border_darkteal {
    border-color: #16697a !important; 
}

/* styling for contract info and fonts */
h1 {
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    font-size: 60px;
}
h2 {
    font-family: 'Allan', cursive;
    font-size: 40px;
}
h3 {
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    font-size: 40px;
}
h4 {
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    font-size: 35px;
}
h5 {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}
p {
    font-family: 'Allan', cursive;
   
}
.container3 {
    flex-direction: column;
}

/* carousel height */
.carousel-inner {
    height: 100vh;
}

#pix_1 {
    height: 100vh !important;
    width: 50rem !important;
}
#pix_2 {
    height: 100vh !important;
    width: 50rem !important;
}#pix_3 {
    height: 100vh !important;
}#pix_4 {
    height: 100vh !important;
    width: 50rem !important;
}#pix_5 {
    height: 100vh !important;
    width: 50rem !important;
}

/* accordion styling */
.accordion-body {
    background-color: bisque;
}
.accordion-button {
    background-color: #d38e67;
}
/* form styling */
.bg_muttedteal {
    background-color: bisque;
}
